---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-full h-full dark:bg-zinc-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Nobey's stream test play ground" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-2/3 m-auto py-16">
    <slot />
  </body>
</html>
